@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fy6sr6');
  src:  url('fonts/icomoon.eot?fy6sr6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fy6sr6') format('truetype'),
    url('fonts/icomoon.woff?fy6sr6') format('woff'),
    url('fonts/icomoon.svg?fy6sr6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Q-qzone:before {
  content: "\e604";
}
.Q-hot-o:before {
  content: "\e607";
}
.Q-title:before {
  content: "\e617";
}
.Q-trend:before {
  content: "\e62c";
}
.Q-qqqun:before {
  content: "\e632";
}
.Q-qq:before {
  content: "\e63a";
}
.Q-wangyiyun:before {
  content: "\e63d";
}
.Q-certify-2:before {
  content: "\e63f";
}
.Q-jing:before {
  content: "\e640";
}
.Q-vip:before {
  content: "\e645";
}
.Q-Bbi:before {
  content: "\e667";
}
.Q-wechat:before {
  content: "\e673";
}
.Q-settings:before {
  content: "\e67e";
}
.Q-location:before {
  content: "\e681";
}
.Q-certify-3:before {
  content: "\e682";
}
.Q-hot:before {
  content: "\e684";
}
.Q-big-vip:before {
  content: "\e6c7";
}
.Q-LV0:before {
  content: "\e6cc";
}
.Q-LV1:before {
  content: "\e6cd";
}
.Q-LV2:before {
  content: "\e6ce";
}
.Q-LV3:before {
  content: "\e6cf";
}
.Q-LV4:before {
  content: "\e6d0";
}
.Q-LV5:before {
  content: "\e6d1";
}
.Q-LV6:before {
  content: "\e6d2";
}
.Q-share-o:before {
  content: "\e6d3";
}
.Q-send:before {
  content: "\e712";
}
.Q-at:before {
  content: "\e821";
}
.Q-add:before {
  content: "\e900";
}
.Q-alipay:before {
  content: "\e903";
}
.Q-quill:before {
  content: "\e907";
}
.Q-bilibili:before {
  content: "\e916";
}
.Q-book:before {
  content: "\e91e";
}
.Q-calendar:before {
  content: "\e92e";
}
.Q-choose-list:before {
  content: "\e939";
}
.Q-circle:before {
  content: "\e93c";
}
.Q-close:before {
  content: "\e942";
}
.Q-clothes:before {
  content: "\e944";
}
.Q-computer:before {
  content: "\e957";
}
.Q-crown:before {
  content: "\e95f";
}
.Q-crown-l:before {
  content: "\e960";
}
.Q-cup-l:before {
  content: "\e963";
}
.Q-diamond:before {
  content: "\e969";
}
.Q-doc-file:before {
  content: "\e96c";
}
.Q-download-l:before {
  content: "\e96d";
}
.Q-eye:before {
  content: "\e972";
}
.Q-github:before {
  content: "\e984";
}
.Q-hacker:before {
  content: "\e987";
}
.Q-heart:before {
  content: "\e994";
}
.Q-heart-l:before {
  content: "\e995";
}
.Q-home:before {
  content: "\e996";
}
.Q-image:before {
  content: "\e999";
}
.Q-gift:before {
  content: "\e99f";
}
.Q-label-info:before {
  content: "\e9a1";
}
.Q-fire:before {
  content: "\e9a9";
}
.Q-lock:before {
  content: "\e9b3";
}
.Q-switch:before {
  content: "\e9b6";
}
.Q-medal:before {
  content: "\e9b7";
}
.Q-menu:before {
  content: "\e9b9";
}
.Q-message:before {
  content: "\e9ba";
}
.Q-link:before {
  content: "\e9cb";
}
.Q-new:before {
  content: "\e9ce";
}
.Q-people:before {
  content: "\e9da";
}
.Q-qrcode:before {
  content: "\e9e8";
}
.Q-read:before {
  content: "\e9ee";
}
.Q-rocket:before {
  content: "\e9f2";
}
.Q-search:before {
  content: "\e9fd";
}
.Q-tag:before {
  content: "\ea14";
}
.Q-talk:before {
  content: "\ea17";
}
.Q-time:before {
  content: "\ea1d";
}
.Q-trash:before {
  content: "\ea22";
}
